@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaPTDemi.otf");
}

@font-face {
  font-family: "Futura Light";
  src: url("../fonts/FuturaLight.otf");
}

.resize-animation-handler {
  animation: none !important;
  transition: none !important;
}

html {
  width: 100%;
  /* scroll-behavior: smooth; */
  /*overflow: hidden;*/
}

body {
  font-family: "Futura Light";
  font-weight: bold;
}

.half-splash {
  height: 300px;
}

#mainNav {
  display: flex;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(25, 25, 25, 0.8) 0%,
    rgba(0, 212, 255, 0) 92%
  );
  border: none;
  border-radius: 0px;
  margin: 0 auto;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.navbar .container {
  display: flex;
  align-items: center;
  padding: 0;
  width: 80%;
}

.navbar .container .navbar-brand {
  padding: 0;
  margin: 0;
  float: none;
  height: auto;
  position: static;
}

.container .navbar-header {
  width: 100%;
}

.menu-container {
  display: flex;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  transform: translateY(-50px);
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(25, 25, 25);
  height: 100vh;
  width: 100vw;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav-list {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.menu-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  height: 28px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 4rem;
  right: 5rem;
  height: 28px;
  cursor: pointer;
}

.close-btn:focus {
  border: 2px yellow solid;
}

.menu-container .nav-list {
  padding: 0;
}

.nav-list li {
  list-style: none;
  margin: 0;
}

li a {
  color: rgb(179, 179, 179);
  font-size: 2.2rem;
  border-bottom: 2px transparent solid;
  transition: all 0.2s ease-in-out;
}

li a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px white solid;
}

li a:focus {
  color: white;
  text-decoration: none;
}

.active-nav a {
  color: white;
}

.nav-cta-btn {
  background-color: white;
  color: #303030;
  display: block;
  border: 2px white solid;
  width: 120px;
  border-radius: 100px;
  font-size: 1.6rem;
  padding: 6px 8px;
  transition: all .2s ease-in-out;
}
.nav-cta-btn:hover {
  background-color: transparent;
  color: white;
}

.landing {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  min-height: 600px;
  background: url(../images/home-back.jpg) fixed no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-logo {
  height: 150px;
  z-index: 1;
}

.landing-title {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.landing-text {
  color: #666;
  width: 90%;
  font-size: 2.2rem;
}

.landing h1 {
  font-size: 2.2rem;
  color: #666;
  font-family: "Futura";
}

h2 {
  color: #fff;
  font-weight: 100;
}

p {
  font-size: 12pt;
  line-height: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}


#btn1 {
  margin-top: 3rem;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  border: 2px solid #fff;
  color: black;
  font-size: 1.9rem;
  z-index: 10;
  transition: all ease-in-out 0.2s;
}

a #btn1:hover {
  background-color: transparent;
  color: white;
}

/*---------------*/
/*-- Section 1 --*/
/*---------------*/

.section1 {
  width: 100%;
  background-color: #fff;
}

.s1-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.s1-content {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 10px;
  z-index: 2;
}

.section1 h2 {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
  color: #666;
  margin-top: 40px;
}

.s1-backing {
  background-image: url(../images/s1-back.svg);
  background-repeat: no-repeat;
  width: 380px;
  height: 220px;
  background-size: 100%;
  /*position: absolute;*/
  margin: -150px auto 0px;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}

.s1-logo {
  width: 170px;
  height: 160px;
  background-repeat: no-repeat;
  margin: 20px auto;
  position: relative;
  top: 50px;
  background-image: url(../images/s1-logo.svg);
  opacity: 0.6;
}

#s1 h2 {
  line-height: 1.5em;
  font-size: 2rem;
}

#s1 p {
  color: #666;
  font-size: 1.8rem;
  margin: 40px 0 0px 0;
}

#s1 a {
  text-decoration: none;
}

/* iframe {
  height: 0px;
  max-height: 0px;
} */

.menuIframe-home {
  max-height: 0px;
  overflow-y: hidden;
  transition: all 0.5s ease-in-out;
}

.expanded {
  /* expanded class for sp_iframe */
  max-height: none !important;
  transition: all 0.5s ease-in-out;
}

#toggle-menu-btn {
  background-color: white;
  border: 2px #666 solid;
  color: #666;
  font-size: 1.8rem;
  display: flex;
  margin: 40px auto 80px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 100px;
  height: 50px;
  fill: #666;
  transition: all 0.2s ease-in-out;
}

#toggle-menu-btn:hover {
  background-color: #303030;
  border: 2px #303030 solid;
  color: white;
  fill: white;
}

#arrow {
  height: 18px;
  margin-left: 8px;
}

/*---------------*/
/*-- Section 5 --*/
/*---------------*/

.section5 {
  width: 100%;
  height: inherit;
  background-color: #191919;
  padding: 50px 0;
}

.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-map {
  width: 200px;
  margin: 0 auto;
}

.contact-info {
  text-align: center;
  margin-top: 20px;
}

#s5 h2 {
  color: #fff;
  font-weight: 100;
}

#s5 p {
  color: #fff;
}

.social-media-container {
  display: flex;
  width: 140px;
  margin: 0 auto;
  justify-content: space-between;
}

.social-icon {
  height: 36px;
}

.social-icon:hover {
  fill: black;
}

footer {
  height: 40px;
  background-color: #131313;
  padding-top: 7px;
}

.legal-info {
  text-align: center;
}

footer p {
  font-size: 9pt;
  color: #666;
}

.f-map {
  width: 300px;
  max-width: 320px;
}

/* ABOUT */

.about-splash {
  background: url(../images/about-hero.jpg) center no-repeat;
  background-size: cover;
}

.about-container {
  width: 90%;
  margin: 80px auto 100px;
  color: #666;
}

.about-container h1,
p {
  text-align: center;
}

.about-container h1 {
  margin-bottom: 30px;
  font-size: 44px;
}

.about-container p {
  font-size: 1.9rem;
}

.subtitle-about {
  font-size: 2.2rem;
  margin: 40px auto 0;
  width: 90%;
}

/* MENU */

.menu-splash {
  background: url("../images/menu-back.jpg") center;
  background-size: cover;
}

.menu-page-container {
  margin: 80px auto 100px;
  padding: 0px;
}

.menu-page-container h1 {
  margin-bottom: 50px;
  font-size: 44px;
  color: #666;
}

@media only screen and (min-width: 450px) {
  .landing-logo {
    height: 225px;
    z-index: 0;
  }

  .landing-text {
    color: white;
    width: 90%;
    font-size: 2rem;
    width: 70%;
  }

  .navbar .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1025px) {
  .menu-container {
    display: flex !important;
    opacity: 100 !important;
    transform: translateY(0px) !important;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 100%;
    background: transparent;
    position: static;
    pointer-events: all !important;
  }

  .s1-content {
    width: 70%;
  }

  #s1 h2 {
    font-size: 2.2rem;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: auto;
  }

  .menu-btn-container {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .nav-list li {
    list-style: none;
    margin: 0 0 0 5rem;
  }

  .nav-list a {
    font-size: 1.8rem;
  }

  .button {
    margin: 50px 0;
  }


  .landing-logo {
    height: 250px;
    /*position: fixed;*/
  }

  .hours-section {
    width: 100%;
    height: 400px;
    background-color: #333;
    text-align: center;
    padding: 35px;
  }

  .section5 {
    padding: 40px 0;
  }

  .section5-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
  }

  .section5-map {
    align-self: center;
    margin-right: 8rem;
  }

  .map-container {
    width: auto;
  }

  .contact-info {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-media-container {
    width: 100%;
    margin: 0;
  }

  .social-media {
    margin-top: 15px;
  }

  /* ABOUT */

  .about-container {
    width: 80%;
  }

  .about-container p {
    font-size: 2.2rem;
  }

  .menu-page-container {
    width: 80%;
  }

}

@media only screen and (min-width: 1200px) {
  .container{
    max-width: 1440px;
  }

  .landing-logo {
    height: 325px;
    /*position: fixed;*/
  }

  .news-type {
    width: 80%;
    margin-left: 100px;
  }

  .landing {
    width: 100%;
    height: 100vh;
    /*background-color: #f3f3f3;*/
    background: url(../images/home-back.jpg) 0 0 no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  .landing-text {
    color: white;
    width: 90%;
    font-size: 2.2rem;
    width: 70%;
  }

  .s1-content {
    width: 60%;
  }

  /* ABOUT */
  .half-splash {
    height: 400px;
  }

  .about-container {
    width: 70%;
    margin: 150px auto 200px;
  }

  .menu-page-container {
    margin: 150px auto 200px;
  }
}
