.menu-section {
  height: inherit;
  width: 100%;
  /*background-color: #fff;*/

  background-image: url(../images/pattern.svg);
  background-repeat: repeat;

  /*background-size: 100%;*/
}

.menu-landing {
  width: 100%;
  height: 60vh;
  /*background-color: #f3f3f3;*/
  background: url(../images/imgback4.jpg) 20% 0 no-repeat fixed;
  position: inherit;
  background-repeat: no-repeat;
  padding-top: 100px;
  text-align: center;
}

.menu-landing-logo {
  width: 270px;
  height: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 0;
  opacity: 0.7;
  /*position: fixed;*/
  position: relative;
}

.landing-logo {
  z-index: 0;
}

li {
  z-index: 10;
}

.menu-li {
  height: 40px;
  /*width: 10%;*/
  display: inline-block;
  margin: 0 30px;
  color: #fff;
  z-index: 100;
}

.menu-li:hover {
  opacity: 0.5;
  cursor: pointer;
}

#land-menu a {
  color: #fff;
  font-size: 16pt;
  font-weight: 200;
}

.active-menu {
  padding-bottom: 20px;
}

.menu-items {
  width: 95%;
  height: inherit;
  margin: 50px auto;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  padding: 30px 0;
  /*	-webkit-box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);
	box-shadow: 1px 1px 5px 0px rgba(189,189,189,1);*/
}

.price {
  float: right;
  margin-right: 20px;
}

.m-item {
  width: 95%;
  margin: 0 auto;
}

.app-title {
  width: 95%;
  margin: 0 auto 30px;
}

.menu-top {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.menu-toggle {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  opacity: 0.7;
  padding: 0 20px;
}

.menu-nav {
  width: 100%;
  display: inline-block;
  color: #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: 10px auto;
  z-index: 20;
  position: absolute;
}

.mt-2 {
  padding: 0 0px;
}

.menu-selector {
  transform: translate(20%, -50%);
  -webkit-transform: translate(20%, -50%);
  -moz-transform: translate(20%, -50%);
  -ms-transform: translate(20%, -50%);
  position: absolute;
  margin: 61px auto;
  text-align: center;
  width: 100%;
}

.mt-active {
  border: 1px solid #fff;
  padding: 5px 20px;
  opacity: 1;
}

.menu-under {
  background-image: url(../images/underline.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 230px;
  margin: 10px auto;
}

.s1-title {
  margin: 10px auto;
}

@media only screen and (min-width: 720px) {
  .menu-items {
    width: 80%;
    height: inherit;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px 0;
  }

  .m-item {
    width: 80%;
    margin: 0 auto;
  }

  .app-title {
    width: 80%;
    margin: 0 auto 30px;
  }

  .app-title1 {
    width: 90%;
  }

  .menu-landing {
    width: 100%;
    height: 47vh;
    /*background-color: #f3f3f3;*/
    background: url(../images/imgback4.jpg) 20% 0 no-repeat fixed;
    position: inherit;
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    padding-top: 100px;
    text-align: center;
  }
}

@media only screen and (min-width: 1280px) {
  .m-item {
    width: 70%;
    margin: 0 auto;
  }

  .app-title {
    width: 70.5%;
    margin: 0 auto 30px;
  }

  .app-title1 {
    width: 85%;
  }
}
